Repository nonameP765/web, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, ⚙️ policy

docs: README 업데이트
  README.MD
  README.md
Labels: none

add: 호환 최신 버전으로 package.json 변경
  .pnp.cjs
  .yarn/cache/@next-env-npm-13.4.19-b5a63a2ff8-ace4f82890.zip
  .yarn/cache/@next-env-npm-13.5.6-8fa321d68d-5e8f3f6f98.zip
  .yarn/cache/@next-eslint-plugin-next-npm-13.4.19-817cacb033-d60c136e4a.zip
  .yarn/cache/@next-eslint-plugin-next-npm-13.5.6-1f1200d15a-58b5ef15d8.zip
  .yarn/cache/@swc-helpers-npm-0.5.1-424376f311-71e0e27234.zip
  .yarn/cache/@swc-helpers-npm-0.5.2-f81ca286ad-51d7e3d8bd.zip
  .yarn/cache/@types-node-npm-20.11.5-b807d46a1a-a542727de1.zip
  .yarn/cache/@types-react-dom-npm-18.2.18-b316a8af22-8e3da404c9.zip
  .yarn/cache/@types-react-npm-18.2.48-3bda252d86-c9ca43ed29.zip
  .yarn/cache/@ungap-structured-clone-npm-1.2.0-648f0b82e0-4f656b7b46.zip
  .yarn/cache/eslint-config-next-npm-13.4.19-3238aea6fb-2b2e527fac.zip
  .yarn/cache/eslint-config-next-npm-13.5.6-3b458ff7c8-3399d3c18d.zip
  .yarn/cache/eslint-npm-8.47.0-84c6b60ea8-1988617f70.zip
  .yarn/cache/eslint-npm-8.56.0-6eec398a41-883436d1e8.zip
  .yarn/cache/postcss-npm-8.4.14-c0d448b728-fe58766ff3.zip
  .yarn/cache/zod-npm-3.21.4-9f570b215c-f185ba8734.zip
  package.json
  yarn.lock
Labels: none

fix: 필요없어진 설정들 정리
  .github/workflows/workflow-pull-request-preview.yml
  .github/workflows/workflow-test-check.yml
  .gitignore
  lib/feature.ts
  tsconfig.json
Labels: feature, ⚙️ policy

fix: 필요없어진 설정들 정리2
  .github/workflows/workflow-build-and-deploy-coverage.yml
  .github/workflows/workflow-push-main.yml
Labels: ⚙️ policy

fix: 필요없어진 설정들 정리3
  .github/workflows/workflow-comment-summary.yml
  .github/workflows/workflow-pull-request-preview.yml
  README.MD
Labels: ⚙️ policy

policy: ci 리메이크
  .github/actions/setup-bun/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/workflow-build-and-deploy-preview.yml
  .github/workflows/workflow-build-and-deploy-production.yml
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
  .github/workflows/workflow-comment-summary.yml
  .github/workflows/workflow-lint-check.yml
  .github/workflows/workflow-pull-request-preview.yml
Labels: ⚙️ policy

fix: ci 수정1
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
  .github/workflows/workflow-pull-request-preview.yml
  .github/workflows/workflow-push-main.yml
Labels: ⚙️ policy

refactor: 명령어 yarn -> bun
  .github/workflows/workflow-build-and-deploy-preview.yml
  .github/workflows/workflow-build-and-deploy-production.yml
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
  .github/workflows/workflow-build-and-deploy-storybook.yml
  .github/workflows/workflow-lint-check.yml
  README.MD
Labels: ⚙️ policy

ci: 의존성 설치 추가
  .github/actions/setup-bun/action.yml
Labels: ⚙️ policy

fix: shell 추가
  .github/actions/setup-bun/action.yml
Labels: ⚙️ policy

fix: runs-on 일단 깃헙호스트로 변경
  .github/workflows/workflow-build-and-deploy-preview.yml
  .github/workflows/workflow-build-and-deploy-production.yml
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
  .github/workflows/workflow-build-and-deploy-storybook.yml
Labels: ⚙️ policy

policy: VERCEL_ORG_ID 개인 ID로 추가해보기
  .github/workflows/workflow-build-and-deploy-preview.yml
  .github/workflows/workflow-build-and-deploy-production.yml
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
  .github/workflows/workflow-build-and-deploy-storybook.yml
Labels: ⚙️ policy

fix!: string-width 임의 추가
  bun.lockb
  next.config.js
  package.json
Labels: none

policy: bunlockb 변경
  bun.lockb
Labels: none

fix: node 문구 bun으로 교체
  .github/workflows/workflow-build-and-deploy-preview.yml
  .github/workflows/workflow-build-and-deploy-production.yml
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
  .github/workflows/workflow-build-and-deploy-storybook.yml
Labels: ⚙️ policy

policy: 노드 20버전 세팅 추가
  .github/actions/setup-bun/action.yml
Labels: ⚙️ policy

fix: 필요없는 파일 삭제
  .yarnrc.yml
Labels: none

fix: string-width 제거
  bun.lockb
  next.config.js
  package.json
Labels: none

policy: string-width 의존성 다른방식으로 추가
  bun.lockb
  package.json
Labels: none

fix: bun install 시 lock file대로만 설치하게 수정
  .github/actions/setup-bun/action.yml
Labels: ⚙️ policy

policy: 스토리북에 바벨 설정 추가
  .storybook/main.ts
Labels: none

fix: 필요없는 CI 삭제
  .github/workflows/workflow-build-and-deploy-preview.yml
  .github/workflows/workflow-build-and-deploy-storybook-preview.yml
Labels: ⚙️ policy

feat: storybook babelrc 세팅 수정
  .storybook/main.ts
Labels: none

feat: eslint용 stylex 설정 추가
  .eslintrc.js
  bun.lockb
  package.json
Labels: none

docs: 이슈사항 작성
  README.MD
Labels: none

fix: 린트 설정 수정
  .eslintrc.js
  lib/components/Button/index.tsx
Labels: feature

policy: 프러덕션 deploy ci 추가
  .github/workflows/workflow-push-main.yml
Labels: ⚙️ policy

.github/labeler.yml:

feature:
  - lib/**/*
  - app/**/*
  - public/**/*
⚙️ policy:
  - .github/**/*
